@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.detail-price {
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
	font-size: xx-large;
	margin: 8px;
}

.card-detail {
    text-align: center;
}

.book-image-detail {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    text-align: center;

}

