@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.detail-price {
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
	font-size: xx-large;
	margin: 8px;
}

.card-detail {
    text-align: center;
    margin-top: 100px;
    
}

.explanation{
    margin-top: 50px !important;
}

.book-image-detail {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.detail-row {
    align-items: center;
}

.rating-card {
    margin: 15px;
    width: 20rem;
}

.rating {
    justify-content: center;
    margin: 20px;
}

.rating-card-links {
    color: gray;
}

.store-card {
    margin: 15px;
    width: 20rem;
}
.store-card-links{
    justify-content: center;
    margin: 15px;
    display: flex;
    color: dimgrey;
}

.book-feature {
    padding: 50px;
    justify-content: center;
    display: flex;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: #143F6B !important
}

.p-dropdown:not(.p-disabled).p-focus{
    box-shadow: 0 0 0 1px solid #143F6B !important;
    border-color: #143F6B !important;
}