@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
	box-sizing: border-box
}

 .wrapper {
	display: flex;
	border: 1px black;
	width: 100%;
	justify-content: space-between;
 }

 .products-card {
	width: 210px;
	height: 310px;
	border-radius: 15px;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
 }

 .card {
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	border: none !important;
	&:hover {
		transform: translateY(5px);
		&:before {
			opacity: 1;
		}
		.card-container {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		// border-radius: 15px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
	}
	
}

.book-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.card-container {
	position: relative;
	width: 140px;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;

}

.book-title {
	margin: 0px
}

.book-description {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
}

.heartIcon {
	color: white;
	cursor: pointer;
	width: 30px;
	height: 30px;
	font-size: 30px;
	margin: auto;
  }
.heartIcon:hover {
	transform: scale(1.1);
}

.btn {

	width: 160px;
	height: 40px;;
	background-color: #143F6B !important;
	border: none !important;
}
.btn:hover {
	background-color: #2e6ba7 !important;
}

.card-button {
	text-align: center;
	margin-top: 8px;
}

.price {
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
	font-size: larger;
	text-align: center;
	margin-top: 8px;
}

@media (max-width: 576px) {
	.products-card{
		height: 250px;
	}
}

// buttons for override

.p-button{
    background-color: #143f6b !important;
    border: 0 !important; 
    border-radius: 6px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    height: 35 !important;
}

.p-button:enabled:focus{
    border-color: #143F6B !important;
    box-shadow: 0 0 0 1px #143F6B !important;
}

.p-button:hover{
    background-color: #204678 !important;
}