.shop-details{
    text-align: center;
    margin: auto;
    padding-top: 40px;
    .cart{
    font-size: 25px !important;
    }
    .info{
        margin-bottom: 3rem;
    }
}

.shopping-cart-header{
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 14px;
}

.shopping-cart-detail{
    border: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.shopping-card-buttons{
    background-color: #eeecec!important;
    border: 1px solid #e7e8ee!important;
    color: #7c7a7a!important;
    padding: 0rem!important;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.shopping-card-buttons:hover{
    background-color: #d6d4d4 !important;
}

.shopping-card-buttons:enabled:focus{
    border:  1px solid #8e8d8d !important;
    box-shadow: none !important;
}


.no-draggable{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}