.footer-gray {
    padding: 30px 0;
    color: #f0f9ff;
    background-color: #143F6B;
  }
  
  .footer-gray h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
  }
  
  .footer-gray ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .footer-gray ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footer-gray ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 767px) {
    .footer-gray .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .footer-gray .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width: 767px) {
    .footer-gray .item.text {
      margin-bottom: 0;
    }
  }
  
  .footer-gray {
    .item.text p {
      opacity: 0.6;
      margin-bottom: 0;
    }
  }
  
  .footer-gray .item.social {
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .footer-gray .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  .footer-gray .item.social > a {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  
  .footer-gray .item.social > a:hover {
    opacity: 0.9;
  }
  
  .footer-gray .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
   
  .m-0 {
    color: black;
    font-weight: 700;
    font-size: 20px;
  }
  
  a {
    text-decoration: none !important;
  }
  
  .social {
    .pi {
      font-size: 30px !important;
    }
  }