@import "./assets/css/Footer.scss";
@import "./assets/css/Header.scss";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/Card.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}